.movie_card {
  display: flex;
  flex-direction: row;
  justify-content: start;
  padding: 0 20px;
  background: var(--bg-gradient-img);
  
}
.mySwiper, .movie_card{
  max-height: 400px;
}
.img_container {
  img {
    width: 200px;
    border-radius: 10px;
    cursor: pointer;
  }
}
.wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  padding: 40px;
}
.text_container {
  height: 300px;
  width: 60%;
}
 