.Header {
  background: var(--bg-color);
  padding: 20px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  .logo {
    width: 50px;
    cursor: pointer;
  }
  .user_logo {
    width: 25px;
    cursor: pointer;
  }
  ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    min-width: 55%;
    list-style: none;
    :hover {
      color: var(--extra-color);
    }
    a {
      text-decoration: none;
      font-weight: 800;
      color: var(--accent-color);
    }
    input {
      width: 180px;
      padding: 5px;
      background-color: var(--bg-color);
      border: 1px solid var(--accent-color);
      color: var(--text-color);
      border-radius: 5px;
      outline: none;
    }
  }
}
