@import "./features/theme/components/ThemeColors/light/light.scss";
@import "./features/theme/components/ThemeColors/dark/dark.scss";
@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);

* {
  margin: 0;
  font-family: 'Roboto', 'Helvetica', 'Arial', 'sans-serif';
}
.container {
  min-height: 500px;
  background: var(--container-color);
  padding: 20px 0;
}
.media {
  padding: 0;
}
.headline {
  text-align: center;
  padding-bottom: 10px;
  display: flex;
  flex-direction: column;
}
.subheader {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}
h2 {
  letter-spacing: 1px;
  font-size: 2.5rem;
  text-transform: uppercase;
}
h3 {
  font-size: 1.5rem;
    text-transform: uppercase;
}